.link {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: underline;
  /* display: flex; */
  /* align-items: center; */
}
body {
  font-family: system-ui;
  line-height: 1.333;
  background: #e8eaf6;
  color: rgb(102, 112, 133) !important;
}